// Fundos
$cor-fundo-primario: #0f172a; 
$cor-fundo-secundario: #1e293b; 

// Superfícies e elementos
$cor-superficie: #495362; 
$cor-borda: #888e98; 

// Destaques
$cor-destaque-primario: #00f2ff; 
$cor-destaque-secundario: #107888; 

// Paleta auxiliar
$cor-branco: #ffffff;
$cor-preto: #000000;


//font
$font-family: 'Inter', sans-serif;