@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

h1 {
  color: $cor-destaque-primario;
  margin-left: 50px;
}
.main-nav {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 140px;
  background-color: $cor-fundo-primario;
  font-family: $font-family;
  
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}
/* Botão Hambúrguer (Mobile First) */
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 101;
  margin-right: 35px;
}

.line {
  width: 30px;
  height: 3px;
  background: $cor-destaque-primario;
  transition: 0.3s;
}

/* Menu Mobile (Escondido) */
.nav-links {
  position: fixed;
  top: 0;
  right: -100%; /* Fora da tela */
  width: 70%;
  height: 100vh;
  background: $cor-fundo-secundario;
  display: flex;
  justify-content: center;
  transition: 0.4s ease-in-out;
  padding-top: 60px;
  font-family: $font-family;
 
}

.nav-links.active {
  right: 0; /* Desliza para dentro */
}

.nav-links ul {
  list-style: none;
  text-align: center;
}

.nav-links li {
  margin: 2rem 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: $font-family;
  
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .cursos-container {
    margin-top: 80px; /* Ajuste esse valor para a altura exata do seu header */
  }
}


@media (min-width: 768px) {

   
  .hamburger { display: none; } /* Esconde o botão no PC */

  .nav-links {
      position: static;
      width: auto;
      height: auto;
      background: none;
      transition: none;
      font-family: $font-family;
      
  }

  .nav-links ul {
      display: flex;
      gap: 2rem;
  }

  .nav-links a { 
    font-size: 1rem;
    font-family: $font-family; 
 
  }

  .main-nav{
    margin-bottom: 90px;
  }
}