@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: $cor-fundo-primario;
    color: #333;
  }