@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: $cor-fundo-primario;
    color: #333;
    flex-direction: column;
    display: flex;
    min-height: 100vh; 
    
  }
  .cursos-container {
    flex: 1; /* Ocupa todo o espaço que sobrar, empurrando o footer */
  }